<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Grid date to json</title>
    <link rel="stylesheet" href="/lib/css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/lib/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/lib/css/gtoj.css" type="text/css"/>
    <style>
        .cell-title {
            font-weight: bold;
        }
        .cell-effort-driven {
            text-align: center;
        }
    </style>
</head>

<body>
<br>
<br>
<div style="position:relative">
    <form action="/save_data/" method="post" id="save_form_data">
        <div>
            <input type="text" id="document_name" placeholder="Document name" style="width:300px;"/>
        </div>
        <br/>
        <div style="width:620px;">
            <div id="myGrid" style="width:100%;height:550px;"></div>
        </div>

        <div class="options-panel">
            <h2>Simple translater(Grid to Json)</h2>
            <ul>
                <li>It's simple translater for grid date to json.</li>
                <li>Input a data in grid, and then press the 'save' button</li>
                <li>When the save is complete, you can show data in the db.</li>
            </ul>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" name="save">save</button>
            <input type="button" value="clear" onclick="clearGrid();"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select id="select_data_name">
                <option value="" disabled selected>Saved data list</option>
                {% for data in data_list %}
                    <option value="{{ data.index }}">{{ data.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>


<script src="/lib/js/jquery-1.7.min.js"></script>
<script src="/lib/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/lib/js/jquery.event.drag-2.2.js"></script>
<script src="/lib/js/firebugx.js"></script>
<script src="/lib/js/slick.core.js"></script>
<script src="/lib/js/slick.cellrangedecorator.js"></script>
<script src="/lib/js/slick.cellrangeselector.js"></script>
<script src="/lib/js/slick.cellselectionmodel.js"></script>
<script src="/lib/js/slick.formatters.js"></script>
<script src="/lib/js/slick.editors.js"></script>
<script src="/lib/js/slick.grid.js"></script>
<script src="/lib/js/gtoj.js"></script>

</body>
</html>